@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap');
*{
    margin: 0 auto;
}
.box_all{
    width: 100%;
    max-width: 1500px;
}
.header_inner{
    width: 100%;
}
.header{
    background: url(./Jpg/165312-atmosfera-svet-astronomicheskij_obekt-art-nauka-3840x2160.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.box_header1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
} 
.menu2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    transition: all 1s;
}
.menu1 h2{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
.box_header2{
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 200px 0;
}
.knopka a{
    color: white;
    text-decoration: NONE;
    border: 2px solid black;
    padding: 12px 35px;
    margin: auto;
    background-color: rgba(238, 130, 238, 0.138);
    transition: all 1s;
}
.boxtextheader h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}
.boxtextheader p{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 50px;
}
.knopka{
    margin-top: 2cm;
}
.menu2 a:hover{
    font-size: 30px;
    text-decoration: underline;
}
.knopka a:hover{
    background-color: violet;
    -webkit-box-shadow: 6px -2px 15px 3px rgba(0,0,0,0.92); 
box-shadow: 6px -2px 15px 3px rgba(0,0,0,0.92);
}
.content{
    width: 100%;
    height: 100%;
    background-color: white;
}
.content_inner{
    width: 100%;
}
.mother1{
    width: 80%;
    height: 100px;
   text-align: center;
    padding: 40px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.box_p{
    margin-top: 20px;
    width: 50px;
    height: 2px;
    background-color: black;
}
.mother2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}
.container{
    width: 350px;
    height: 95%;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 1s; */
}
.text_p{
    width: 100%;
    height: 200px;
    text-align: center;
}
.logo i{
    color: rgb(0, 0, 0);
    font-size: 45px;
    /* transition: all 1s; */
}
/* .logo:hover{
    background-color: crimson;
    box-shadow: 21px 18px 7px -7px rgba(34, 60, 80, 0.21);
} */  
.logo i:hover{
    background-color: crimson;
    border-radius: 100%;
    padding: 27px 26px;
    color: white;
}
.footer{
    background-color: rgb(225, 178, 91);
    width: 100%;
    height: 200px;

}
.foot_inner{
    width: 100%;
}
.foot1{
    position: relative;
    top: 45px;
    display: flex;
    height: 30px;
    width: 10%;
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
}
.logo1 i:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 9px 9px;
    color: rgb(255, 0, 0);
}
@media screen and (max-width:1200px){
    .foot1{
        width: 25%;
    }
}
@media screen and (max-width:600px){
    .menu2{
        display: none;
    }
    .foot1{
        width: 40%;
    }
}
@media screen and (max-width:400px) {
    .menu2{
        display: none;
    }
    .boxtextheader h1{
        font-size: 30px;
    }
    .foot1{
        width: 50%;
    }
}